* {
    box-sizing: border-box;
}

main {
    position: relative;
    margin: 0 auto;
    width: 1920px;
    min-height: 828px;
    background-color: #FFF;
    padding: 120px 296px 120px 300px

}

.haw_work {
    color: #050931;
    font-family: Rubik sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.img_0 {
    margin-top: -50px;
    width: 128px;
}

.title {
    color: #050931;
    font-family: Outfit sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    margin-top: -20px;
    margin-bottom: 60px;
    width: 555px;

}

.text_2 {
    position: absolute;
    text-align: left;
    color: #647685;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    margin-top: 45px;
    width: 403px;
    right: 296px;
}

.block-1 {
    height: 372px;
    position: relative;
    border-left: 1px solid #FF8345;
    border-right: 1px solid #1F6BFF;
}

.block_3 {
    border-left: 1px solid #FFCA45;
    border-right: 1px solid #37D348;
}

.zag_block {
    position: absolute;
    color: #1B1E1C;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    top: 179px;
    left: 72px;
}

.text_block {
    position: absolute;
    color: #767877;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    width: 258px;
    height: 113px;
    top: 219px;
    left: 23px;
}

.pentagon {
    position: absolute;
    left: 99px;
    bottom: 225px;
}

.text_01 {
    position: absolute;
    color: #FF8345;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    left: 137px;
    top: 90px;
}

.text_02 {
    color: #1F6BFF;
}

.text_03 {
    color: #FFCA45;
}

.text_04 {
    color: #37D348;
}

.dots {
    position: absolute;
    right: 0;
    top: -52px;
}




